@import '~antd/dist/antd.css';

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #808080;
}
[data-theme='dark'] .ant-layout-header {
  background: #808080;
}
[data-theme='dark'] .ant-layout-footer {
  background: #808080;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;

  background: #c0c0c0;
}
[data-theme='dark'] .ant-layout-sider {
  background: #c0c0c0;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: #ffffff;
}
[data-theme='dark'] .ant-layout-content {
  background: #ffffff;
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}
